.recipe-card {
  padding: 20px 50px;
  margin: 20px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.recipe-card:hover {
  transform: rotateY(10deg) rotateX(5deg) scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.recipe-card__image {
  width: 300px;
  height: 300px;
}

.recipe-card__name {
  font-size: 1.3rem;
}

.recipe-card__cuisine,
.recipe-card__meal-type,
.recipe-card__difficulty {
  font-size: 1.1rem;
  span {
    font-weight: bold;
  }
}

.recipe-card button.main-btn {
  background: #ff7043;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1.1rem;
  margin-right: 10px;
}

.recipe-card button.secondary-btn {
  background: #fff;
  color: #ff7043;
  border: 1px solid #ff7043;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1.1rem;
}

.recipe-card__star {
  margin-top: 20px;
}
