#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #e6e6e6;
}

.banner-stripes {
  height: 200px;
  min-width: 1900px;
  width: 100%;
  background: repeating-linear-gradient(
    45deg,
    #ff7043,
    #ff7043 40px,
    #ffca28 40px,
    #ffca28 80px,
    #66bb6a 80px,
    #66bb6a 120px
  );
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.app__nav {
  display: flex;
  gap: 30px;
  margin: 50px 30px;
  font-size: 1.5rem;
}
